body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #0D1117, #0A0C10);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #23272A;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #7289DA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

button:hover {
    background-color: #5A6FB1;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #2C2F33;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-wrap: break-word; 
}

li button {
    background-color: #f04747;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: white;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

li button:hover {
    background-color: #d73636;
    transform: scale(1.05);
}
